---
import BusRoutesMap from '@/components/lineas/BusRoutesMap.astro';
import LandscapeImage from '@/components/lineas/LandscapeImage.astro';
import Layout from '@/layouts/Layout.astro';
import { getRoutes } from '@/utils/BusRoutes/getRoutes.js';

export async function getStaticPaths() {

    const ROUTES = await getRoutes();

    return ROUTES.map(({category, line}) => {

        return {params: {category, line}}
    })
}

const { category, line } = Astro.params;

const METADATA = (await getRoutes({category, lines: [line]})).at(0);
---

<Layout>

    <main class="container">

        <section class="Banner">

            <LandscapeImage src={METADATA.image.landscape} />

        </section>


        <section class="Map-widget">

            <BusRoutesMap category={category} lines={[line]} />

        </section>

    </main>
</Layout>


<style>

    .Banner {
        height: 400px;
    }
    .Map-widget {
        height: 600px;
    }
</style>