---
import MapOffcanvas from "@/components/recorridos/MapOffcanvas.astro";
import Map from "@/components/recorridos/Map/index.astro";
import Tab from "@/components/recorridos/Tab.astro";
import BusLines from "@/components/recorridos/BusLines.astro";

const {category, lines = []} = Astro.props;

---


<section class="Bus-routes-map">

    <Map />

    <MapOffcanvas show>
        <Tab slot="aside-content" title="Recorridos">
            <BusLines category={category} lines={lines} />
        </Tab>
    </MapOffcanvas>

</section>

<style>
    .Bus-routes-map {
        width: 100%;
        height: 100%;
        display: grid;

        grid-template-columns: 1fr;
		grid-template-rows: 1fr;
    }
    .Bus-routes-map > :global(*) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

</style>