---
import TilesInfo from "./TilesInfo.astro";
import DeleteTilesButton from "./DeleteTilesButton.astro";
---


<section>

    <TilesInfo />

    <div class="Tiles-controls">

        
    </div>

    <DeleteTilesButton />

</section>

<script>

   
</script>

<style>
    section {
        padding: 10px 15px;
    }
</style>