---
import TilesInfo from "./TilesInfo.astro";
import DeleteTilesButton from "./DeleteTilesButton.astro";
import DownloadTiles from "./DownloadTiles.astro";
---


<section class="Tiles">

    <div class="Tiles-header">

        <p>Este mapa utiliza datos de <a href="https://www.openstreetmap.org/#map=13/-26.81833/-65.19802" target="_blank" rel="noopener noreferrer">OpenStreetMap</a></p>

        <p>A medida que navegas, las tiles (fragmentos del mapa) se descargan y se almacenan en tu dispositivo para que puedas acceder a ellas sin conexión</p>
    </div>

    <DownloadTiles />
    
    <TilesInfo />

    <DeleteTilesButton />

</section>

<style>
    section.Tiles {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 10px 15px;

        .Tiles-header {
            font-size: clamp(16px, 3vw, 18px);

            a {
                text-decoration: none;
            }
        }
    }
</style>