---
import PWATags from "@/components/PWATags.astro";
import SEOTags from "@/components/SEOTags.astro";
import "bootstrap-icons/font/bootstrap-icons.min.css";
import "bootstrap/dist/css/bootstrap.min.css";
import bootstrap_script from "bootstrap/dist/js/bootstrap.min.js?url";

const {title, description, keywords} = Astro.props;
---

<!DOCTYPE html>

<html lang="es" data-bs-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <SEOTags title={title} description={description} keywords={keywords} />

        <PWATags />

        <script src="/src/scripts/ThemeConfig.js"></script>
    </head>
    <body>
        
        <slot />

        <script is:inline src={bootstrap_script}></script>
        
    </body>
</html>

<script>
    import { registerSW } from 'virtual:pwa-register';

    if ('serviceWorker' in navigator) {

        registerSW();
    }
</script>

<script>
    import TILES_STORAGE from "@/utils/tiles/TilesStorage.js";


    window.TILES_STORAGE = TILES_STORAGE;
</script>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    [data-bs-theme="dark"] {
        --bs-body-bg: #222;
        --bs-body-color: #fff;
    }

    body {
        height: 100dvh;
        width: 100dvw;
        display: flow-root;
    }
</style>